*{
  margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 150vh;
}

/* header */
.header{
    display: flex;
     justify-content: space-between;
     padding: 20px, 30px;
     align-items: center;
}

.header a{
 margin-right:  20px;
 color: rgba(0, 0, 0, 0.9);
 font-size: 15px ;
 text-decoration: inherit;
}
.header a :hover{
    text-decoration: underline; 
}

.header_right{
    display: flex;
    align-items: center;
    min-width: 30vw;
    justify-content: space-between;
}

.header_right.header__apps{
    margin-right: 10px;
}


.mainbody{
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}

.mainbody_img{
    object-fit:contain;
    align-items: center;
    height: 100px;
}

.Search__input{
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    height:  30px;
    padding: 20px 30px;
    border-radius:999px;
    width:75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 550px;
}

.Search__input input{
    flex: 1;
    padding: 20 px 30px;
    border: none;
    outline: none;
}

.Search__input .material-icons{
    color: gray;

}

.Search__buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.Search__buttons .button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #f87878;
    border: none;
    outline: none;
    cursor: pointer;
} 